[submodule "backend"]
	path = backend
	url = git@github.com:junkreef/Network-Simulator-backend.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:junkreef/Network-Simulator-frontend.git
